body {
  font-family: Arial, sans-serif;
  background-color: #f6f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
}

h1 {
  text-align: center;
  color: #0b5ed7;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #0b5ed7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0846a8;
}

#hasil {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}
